<%= image_tag "c.png", :size =>'50x50' %><br>
ホーム<br>
話題を検索<br>
通知<br>
メッセージ<br>
ブックマーク<br>
リスト<br>
プロフィール<br>
もっと見る<br>
<div id= "tweet">
 <li><%= link_to 'ツイートする', '/tweets/new', class:"tw" %></li>
</div>