<p>
    <%= @tweet.message %>
</p>

<p>
    ツイート日時：
    <%= @tweet.tdate %><br><br>
    ツイートしてから
    <% t = Time.current.to_i - @tweet.tdate.to_i  %>
    <%= t/60 %>分経過
</p>

<%= link_to '戻る', :back %>